<logging>
	<appender name="example1" type="rollingFileAppender">
		<file>example1.txt</file>
		<appendToFile>true</appendToFile>
		<maxSizeRollBackups>5</maxSizeRollBackups>
		<maximumFileSize>1</maximumFileSize>
		<layout type="patternLayout">
			<conversionPattern>%date{%m/%d/%Y %H:%M:%S.%L} [%thread{%08x},%levelnum] %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="example2" type="fileAppender">
		<file>example2.txt</file>
		<appendToFile>false</appendToFile>
		<layout type="patternLayout">
			<conversionPattern>%epochms{%15lld} %level{-5.5s} %module{%-10.10s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="console" type="consoleAppender">
		<layout type="patternLayout">
			<conversionPattern>%date{%H:%M:%S.%L} %level %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<root>
		<level>INFO</level>
		<appender-ref>example1</appender-ref>
		<appender-ref>example2</appender-ref>
	</root>
	<logger name="logging.main">
		<level>DEBUG</level>
		<appender-ref>console</appender-ref>
	</logger>
</logging>
